$baseFontSize: 16; 
// font family
$arial: 'arial', Helvetica, sans-serif;

%arial {
    font-family: $arial;
}

%arialBold {
    font-family: 'arial-bold', $arial;
}

$white: #fff;
$black: #111;
$gray: #565656;
$darkGray: #1d2a38;