
$breakpoints: (
	sm: (
    min: null,
    max: 767px
  ),
  md: (
    min: 768px,
    max: 1023px
  ),
  lg: (
    min: 1024px,
    max: 1439px
  ),
	xl: (
    min: 1440px,
    max: null
  )
);

// // make a shorthand for accessing $breakpoints
$bp: $breakpoints;