/* helper classes*/

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase !important;
}

.no-line-break {
    hyphens: none;
    white-space: nowrap;
}

.hidden {
    display: none !important;
}

.background-none {
    background: none !important;
}

.background-transparent {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.invisible {
    visibility: hidden;
}

.clearfix {
    @include clearfix;
}

.no-links {
    pointer-events: none;
    a {
        text-decoration: none;
        color: inherit!important;
    }
}

.no-btn-styles {
    appearance: none;
    background: transparent;
    border: none;
}

// remove default styles on select dropdowns & add pointer
.normalize-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.image {
    width: 100%;
}