.container {
    width: 100%;
    padding-right: 26px;
    padding-left: 26px;
    margin-right: auto;
    margin-left: auto;

    @include bp("min", "md") { 
        padding-left: 30px;
        padding-right: 30px;
    }

    @include bp("min", "lg") {
        max-width: 868px;
        padding-left: 0;
        padding-right: 0;
    }
    @include bp("min", "xl") {
        max-width: 1108px;
    }
}

.row {
    @include bp("min", "md") { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.col-one-half {
    @include bp("min", "md") { 
        flex: 0 0 48%;
        max-width: 48%;
    }
    @include bp("min", "lg") { 
        flex: 0 0 47%;
        max-width: 47%;
    }
}

.col-one-third {
    &:not(:last-of-type) {
        margin-bottom: 25px;
        @include bp("min", "md") { 
            margin-bottom: 0;
        }
    }
    
    @include bp("min", "md") {
        flex: 0 0 32%;
        max-width: 32%;
    }
}