* {
    box-sizing: border-box;
}

body {
    @extend .body-1;
}

.main {
    margin-top: 65px;
    
    @include bp("min", "lg") { 
        margin-bottom: 80px;
        margin-top: 90px;
    }
}

a {
    color: #0090DA;
}