* {
    box-sizing: border-box;
}

body {
    @extend .body-1;
    color: $black;
    background: url(https://res.cloudinary.com/costik/image/upload/f_auto,q_auto,w_450/v1542321258/quiz-bg-mobile) rgb(171, 171, 171) no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 100vh;

    @media screen and (min-width: 768px) {
        background-image: url(https://res.cloudinary.com/costik/image/upload/f_auto,q_auto,w_1440/v1542331567/quiz-bg);
    }
}

.main {
    margin-top: 100px;
}

